body {
    margin: 0px;
    padding: 0px;
    background-color:;
    overflow: hidden;
    font-family: system-ui;
}

.clearfix {
    clear: both;
}
.logo {
    margin: 0px;
    margin-left: 32px;
    font-weight: bold;
    color: white;
    margin-top: 3px;
}


    .logo span {
        color: #f7403b;
    }

.sidenav {
    height: 910px;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0A2558;
    
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

    .sidenav a {
        padding: 15px 8px 15px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
        margin-top: 10px;
        margin-right: 5px;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
    background-color: #1b203d;
    width: 1250px;
    height: 100px;
}

.head {
    padding: 20px;
}

.col-div-6 {
    width: 50%;
    float: left;
    margin-top: 0px;
}

.profile {
    display: inline-block;
    float: right;
    width: 100px;
}

.pro-img {
    float: left;
    width: 40px;
}

.profile p {
    color: white;
    font-weight: 500;
    margin-left: 55px;
    margin-top: 5px;
    font-size: 13.5px;
    
}

 .profile p span {
        font-weight: 400;
        font-size: 10px;
        display: block;
        color: #8e8b8b;
    }

.col-div-3 {
    width: 25%;
    float: left;
}

.logo {
    margin: 0px;
    margin-left: 32px;
    font-weight: bold;
    color: white;
    margin-top: 3px;
}



.logo span {
    color: #f7403b;
}

/*.sidenav {
    height: 910px;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272c4a;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
    .sidenav a {
        padding: 15px 8px 15px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
        margin-top: 10px;
        margin-right: 5px;
    }

    .sidenav a:hover {
        color: #f1f1f1;*/
    }

/*.sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    
    
}
*/
/*#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
    background-color: #1b203d;
    width: 1250px;
    height: 100px;
}

.head {
    padding: 20px;
}

.col-div-6 {
    width: 50%;
    float: left;
    margin-top:0px;
   
    
}

.profile {
    display: inline-block;
    float: right;
    width: 100px;
}*/

/*.pro-img {
    float: left;
    width: 40px;
    
}



.profile p {
    color: white;
    font-weight:500;
    margin-left:50px;
    margin-bottom:6px;
    font-size: 13.5px;
}

.profile p span {
        font-weight: 400;
        font-size: 15px;
        display: block;
        color: #8e8b8b;
       
    }*/

.box {
    display: flex;
    align-items: center;
    justify-content: center;
     width:50px;
     height:100px;
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow:  5px 10px rgba(0,0,0,0.1);
    
    
}


.box-icon {
    font-size: 35px !important;
    float: right;
    margin-top: 35px !important;
    color: #818181;
    padding-right: 7px;
}

.col-div-8 {
    width: 70%;
    float: left;
}

.col-div-4 {
    width: 30%;
    float: left;
    margin-left:1030px;
    margin-top:60px;
}

.content-box {
    padding: 20px;
}

    .content-box p {
        margin: 0px;
        font-size: 20px;
        color: #f7403b;
    }

        .content-box p span {
            float: right;
            background-color: #ddd;
            padding: 3px 10px;
            font-size: 15px;
        }

.box-8, .box-4 {
    width: 95%;
    background-color: #272c4a;
    height: 330px;
}

.nav2 {
    display: none;
   
}

.box-8 {
    margin-left: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 15px;
    color: #ddd;
    border-bottom: 1px solid #81818140;
}

.circle-wrap {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
}

 .circle-wrap .circle .mask,
    .circle-wrap .circle .fill {
        width: 150px;
        height: 150px;
        position: absolute;
        border-radius: 50%;
 }
 .circle-wrap .circle .mask {
        clip: rect(0px, 150px, 150px, 75px);
 }

.circle-wrap .circle .mask .fill {
            clip: rect(0px, 75px, 150px, 0px);
            background-color: #f7403b;
 }

 .circle-wrap .circle .mask.full,
 .circle-wrap .circle .fill {
            animation: fill ease-in-out 3s;
            transform: rotate(126deg);
        }

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(126deg);
    }
}

.circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}
.txt{
   
    
    margin-bottom:30px;
    font-size:30px;
    margin-left:20px

}
